{% extends "layout.twig" %}

{% block title %}Authorities List{% endblock %}

{% block content %}
<div class="row">
  <div class="twelve columns">
    <h1>Tech Test</h1>
    <table>
    <thead>
    <tr>
        <td>Rating</td>
        <td>Percentage</td>
        <td>Total</td>
        </tr>
        </thead>
        <tbody>
        {% for name,score in scores %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ score.average|round(2,'floor') }}&percnt;</td>
                <td>{{ score.count|number_format }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>
</body>
</html>
{% endblock %}