{% extends "layout.twig" %}

{% block title %}Authorities List{% endblock %}

{% block content %}
<div class="row">
  <div class="twelve columns">
    <h1>Tech Test</h1>
    <h3>Sorry, there was a bit of a problem</h3>
    <p>{{ error.message }}</p>
    {% if debug %}
    <p>Line: {{ error.line }}</p>
    <p>File: {{ error.file }}</p>
    <pre><code>     .-'
'--./ /     _.---.
'-,  (__..-`       \
   \          .     |
    `,.__.   ,__.--/
      '._/_.'___.-`</code></pre>
    {% endif %}
  </div>
</div>
</body>
</html>
{% endblock %}