{% extends "layout.twig" %}

{% block title %}Authorities List{% endblock %}

{% block content %}
<div class="row">
  <div class="twelve columns">
    <h1>Tech Test</h1>
    <p>Please choose your desired authority from the below list</p>
    <form action="/index.php/authority" method="get">
      <div class="ten columns">
        <label for="branchesSelect">Branches</label>
        <select class="u-full-width" id="authoritySelect" name="authority">
          <option selected value="-1">-- Choose an authority</option>
          {% for authority in authorities %}
            <option value="{{ authority.LocalAuthorityId }}">{{ authority.Name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="two columns">
        <label for="tagsSelect">&nbsp;</label>
        <input class="button-primary" type="submit" value="Continue">
      </div>
      <div class="twelve columns outputBody">
    </form>
  </div>
</div>
</body>
</html>
{% endblock %}